# Local Netlify folder
.netlify
.DS_Store

# Generated / dependency folders
node_modules/
.astro/
dist/
playwright-report/
test-results/

# Editor / IDE folders
.vscode/
.idea/

# Local environment files
.env
.env.*
.npmrc
.yarnrc
